<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>vip.itellyou.ui.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoRegServlet</servlet-name>
    <servlet-class>vip.itellyou.ui.servlet.DoRegServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>vip.itellyou.ui.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>doLoginServlet</servlet-name>
    <servlet-class>vip.itellyou.ui.servlet.DoLoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>addServlet</servlet-name>
    <servlet-class>vip.itellyou.ui.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>doAddServlet</servlet-name>
    <servlet-class>vip.itellyou.ui.servlet.DoAddServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoRegServlet</servlet-name>
    <url-pattern>/doReg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>doLoginServlet</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addServlet</servlet-name>
    <url-pattern>/m/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>doAddServlet</servlet-name>
    <url-pattern>/m/doAdd</url-pattern>
  </servlet-mapping>





  <filter>
     <filter-name>encodeFilter</filter-name>
     <filter-class>vip.itellyou.ui.filter.EncodeFilter</filter-class>
     <init-param>
        <param-name>enc</param-name>
        <param-value>utf-8</param-value>
     </init-param>
  </filter>
  
  <filter>
     <filter-name>transFilter</filter-name>
     <filter-class>vip.itellyou.ui.filter.TransFilter</filter-class>
  </filter>
  
  <filter-mapping>
     <filter-name>encodeFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
     <filter-name>transFilter</filter-name>
     <url-pattern>/m/*</url-pattern>
  </filter-mapping>
</web-app>